hr {
  border-top: 2px dashed #acacac;
}

.modal-footer {
  padding: 1rem 0;
  button:first-child {
    border: var(--primary00) 1px solid;
    color: var(--primary00);
    background-color: transparent;
  }

  button:last-child {
    border: var(--primary00) 1px solid;
    color: #ffffff;
    background-color: var(--primary00);
  }
}
