.header {
  background: #fff;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  box-shadow: 0 0 1rem rgba(146, 146, 146, 0.5);
  margin-bottom: 1rem;

  .title {
    h1 {
      font-size: 1.5rem;
      font-weight: 500;
      color: var(--primary01);
      margin: 0;
    }

    p {
      font-size: 1.3rem;
      font-weight: 600;
      color: var(--primary01);
      margin: 0;
    }
  }

  .btn-logout {
    background-color: var(--primary01);
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 0 1rem rgba(146, 146, 146, 0.5);
    &:hover {
      background-color: var(--primary02);
    }
  }
}
