<div class="dashboard">
  <div class="statistic">
    <div class="card__item">
      <i class="fa-solid fa-box-archive"></i>
      <h2>
        Sản Phẩm <span>{{ countProduct }}</span>
      </h2>
    </div>
    <div class="card__item">
      <i class="fa-solid fa-layer-group"></i>
      <h2>
        Danh Mục <span>{{ countCategory }}</span>
      </h2>
    </div>
    <div class="card__item">
      <i class="fa-solid fa-file-lines"></i>
      <h2>Đơn Hàng <span>0</span></h2>
    </div>
    <div class="card__item">
      <i class="fa-solid fa-tags"></i>
      <h2>Khuyến Mãi <span>0</span></h2>
    </div>
  </div>
</div>
